{% extends 'base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'collaborateur_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Editer Collaborateur {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        <form name="form" method="post" action="">
                        

                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                                <input type="hidden" id="id_collaborateur" name="id_collaborateur" required="required" value="{{id}}" class="form-control" />
                                <div class='form-group'>
                                            <label for="prenom" class="required">Prenom</label>
                                            <input type="text" id="prenom" name="prenom" required="required" value="{{initial_data.prenom}}" class="form-control" />
                                </div>

                                <div class='form-group'>
                                            <label for="nom" class="required">Nom</label>
                                            <input type="text" id="nom" name="nom" required="required" value="{{initial_data.nom}}" class="form-control" />
                                </div>

                                <div class='form-group'>
                                            <label for="couleur" class="required">Couleur</label>
                                            <input type="text" id="couleur" name="couleur" required="required" value="{{initial_data.couleur}}" class="form-control" />
                                </div>
                             
                        </div><!-- /.box-body -->


                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Editer</button>
                    </div>
                     </form>   


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
